<H1>Bienvenue sur le site du Panda</H1>


<h2>Liens du site :</h2>


{% comment %} <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> {% endcomment %}


<div class="page-header">
        {% comment %} <a href="{% url 'wok:pandas' %}" name="liste des Pandas"class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
         {% endcomment %}
        
        <a href="/wok/pandas">Listes des Pandas </a> 
        <br>
        <br>
        <a href="/wok/panda-nouveau">Ajouter un nouveau Panda</a>
        <br>
        <br>
        <a href="/wok/panda-test">Page de tests</a>
        {% comment %} <h1><a href="/wok/">Pandas Blog</a></h1> {% endcomment %}
    </div>