<h1>Ajouter un nouveau panda</h1>






{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block content %}
   
    <form method="POST" class="pandaform">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
{% endblock %}
<a href="/wok/">Retour à l'accueil</a>